/*
** @date 20130407 Leo Eibler <dokuwiki@sprossenwanne.at> \n
**                add todouser for user assignment css class \n
*/
span.todohlght:hover{background:#DDD; cursor:default}
span.todouser { cursor:default; font-style: italic; padding-left: 3px; padding-right: 3px; margin-right: 4px; }
